body {
    background: #202020;
}


canvas {
    display: block;
}

#canvasBullets{
	position: absolute;
	z-index: 1;
	left: 0;
	top:0;
}


#canvasBg {
    background: #ffffff;
}


#overlapping canvas {
    margin: -600px 0 0;
}


#canvasPlayer{
	position: absolute;
	z-index: 3;
	left: 0;
	top:0;
}


#canvasEnemies{
	position: absolute;
	z-index: 4;
	left: 0;
	top:0;
}